{% extends '/templates/default.html.twig' %}

{% block title %}WheelyGO | Admin panel - Couleurs
{% endblock %}

{% block content %}
	{% if alertMessage is not empty %}
		<div class="container  alert d-flex justify-content-center alert-succes">
			{{ alertMessage | raw }}
		</div>
	{% endif %}
	<div class="container mt-4 px-5">
		<h2>Tableau des Couleurs
			<i class="fas fa-palette fa mb-2" style="color: #a64d79;"></i>
		</h2>
		<div class="table-responsive">
			<table class="table table-bordered w-50">
				<thead>
					<tr>
						<th>ID</th>
						<th>Couleur</th>
						<th>Actions</th>
					</tr>
				</thead>
				<tbody>
					<form action="/admin/colors" method="POST">
						<tr>
							<td></td>
							<td>
								<textarea class="form-control" rows="1" cols="25" placeholder="couleur" name="color" required></textarea>
							</td>
							<td>
								<button type="submit" class="btn btn-info">Ajouter</button>
							</td>
						</tr>
					</form>
					{% for color in datas %}
						<tr>
							<td>{{ color.id }}</td>
							<td>{{ color.color }}</td>
							<td>
								<button type="button" class="btn btn-warning">Modifier</button>
								<a href="/admin/colors/delete/{{ color.id }}" class="btn btn-danger" onclick="return confirm('Voulez-vous vraiment supprimer cette couleur ?')">Supprimer</a>
							</td>
						</tr>
					{% endfor %}
				</tbody>
			</tbody>
		</table>
	</div>
	<a href="/admin" class="btn btn-primary">Retour</a>

	<!-- Modal -->
	<div class="modal fade colors-modal" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<h1 class="modal-title fs-5" id="exampleModalLabel">Modification Couleur :
						<span id="user-id"></span>
					</h1>
					<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
				</div>
				<div class="modal-body">
					<form action="/admin/colors/update" method="POST">
						<input type="hidden" name="update_color_id" id="color-id-input" value="">
						<div class="mb-3">
							<label for="recipient-color" class="col-form-label">Nom de la couleur :</label>
							<input type="text" name="update_color" class="form-control" id="recipient-color">
						</div>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
						<button type="submit" class="btn btn-warning">Modifier</button>
					</div>
				</form>
			</div>
		</div>
	</div>
	<!-- Modal -->

</div>
<script src="/assets/scripts/modalsAdmin.js"></script>{% endblock %}
