{% extends '/templates/default.html.twig' %}

{% block title %}WheelyGO | 404
{% endblock %}

{% block content %}
	<div class="container d-flex align-items-center justify-content-center heigth">
		<div class="text-center">
			<h1 class="display-4">404 - Not Found</h1>
			<p class="lead">La page que vous recherchez pourrait se trouver dans une autre galaxie.</p>
			<a href="/" class="btn btn-primary mt-3">Retourner à la page d'accueil</a>
		</div>
	</div>
{% endblock %}
